@media (max-width: 480px) {
    
    .press-release .content {
        margin-top:10px;
    } 
    [class*="input"] {
        //width:auto;
        margin:0 5px;
        display:block;
    }
    [class*="span"] {
        text-align:left;
    }
    
    .logo {
        margin:5px 0 0 5px;
    }
    
    .navbar .brand {
        float:none;
        font-size:16px;
    }
    .cols .col {
        margin-top:10px;
        float:none;
        height:auto;
        overflow:hidden;
        width:100%;
        display:block;
    }
    .col-2 {
        width:auto!important;
        margin-top:15px;
    }
    .available {
        float:none;
        padding:5px;
    }

    #general-info .center {
        margin-left:10px;
    }    
    
    .available div[class*="span"] {
        float:none;
        overflow:hidden;
        width:auto;
    }
    .press-video, .press-video-code {

        width:auto!important;
    }
    
    .press-video iframe, .press-video img {
    	width: auto!important;
        display:block;
        margin:5px!important;
    }
    
    .store-item {
        padding: 0 5px;
    }

    footer {
        text-align:center;
    }
    
}

@media (max-width: 768px) { 
    
    .press-release .content {
        margin-top:10px;
    } 
    [class*="input"] {
        //width:auto;
        margin:0 5px;
        display:block;
    }
    [class*="span"] {
        text-align:left;
    }
    
    .logo {
        margin:5px 0 0 5px;
    }
    
    .navbar .brand {
        float:none;
        font-size:16px;
    }
    .cols .col {
        margin-top:10px;
        float:none;
        height:auto;
        overflow:hidden;
        width:100%;
        display:block;
    }
    #general-info .center {
        margin-left:10px;
    }    

    .available {
        float:none;
        padding:5px;
    }
    
    .available div[class*="span"] {
        float:none;
        overflow:hidden;
        width:auto;
    }
    
    .press-video, .press-video-code {
        width:auto!important;
    }
    
    .press-video iframe, .press-video img {
    	width: auto!important;
        display:block;
        margin:5px!important;
    }
    
    .store-item {
        padding: 0 5px;
    }

    footer {
        text-align:center;
    }
}
