
body.press-release {
  background-color: #FFFFFF;
  background-image: url("../images/grid-18px-masked.png");
  background-repeat: repeat-x;
  position: relative;
}

.press-release .content {
  min-height:500px;

}

.press-release .content {
    margin-top:80px;
}

@font-face {
    font-family: "Droid Sans";
    font-style: normal;
    font-weight: normal;
    src: local("Droid Sans"), local("DroidSans"), url("http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff") format("woff");
}

footer {
    font-family: 'Droid Sans';
    background:#252525;
    color:#eee;
    padding-top:20px;
}

footer #footer-floor {
  background: none repeat scroll 0 0 #1B1B1B;
  padding:25px 0 8px 0;
  //text-align:right;
  color:#999;
}

footer h4 {
    color:#999;
    margin-bottom:10px;
}

footer a {
    color:#fff;
}

footer a:hover {
    color:#fff;
}

.press-release .dropdown-menu li>a:hover,
.press-release .dropdown-menu .active>a,
.press-release .dropdown-menu .active>a:hover{
    color:#fff;text-decoration:none;
    background-color:#666!important;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#777), to(#666));
    background-image:-moz-linear-gradient(top, #777, #666);
    background-image:-ms-linear-gradient(top, #777, #666);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #666), color-stop(100%, #777));
    background-image:-webkit-linear-gradient(top, #777, #666);
    background-image:-o-linear-gradient(top, #777, #666);
    background-image:linear-gradient(top, #777, #666);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#777', endColorstr='#666', GradientType=0);
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);

}

.press-release .dropdown-menu li>a {
    padding:8px 5px;
}

#select-press-release {
    font-weight:bold;
    color:#fff;
    margin-top:3px;
    padding:6px 6px 7px;
}

#select-press-release .caret {
    margin-top:9px;
    opacity:0.6;
}

.page-header {
    background-color: #F5F5F5;
    margin:80px 0px 20px 0;
    padding: 20px 20px 10px;
}

.orange {
    background-color: #E16020!important;
    background-image: -moz-linear-gradient(center top , #F86218, #F86218 25%, #CB4909)!important;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#F86218), to(#CB4909));
    background-image:-ms-linear-gradient(top, #F86218, #CB4909);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #CB4909), color-stop(100%, #F86218))!important;
    background-image:-webkit-linear-gradient(top, #F86218, #CB4909)!important;
    background-image:-o-linear-gradient(top, #F86218, #CB4909);
    background-image:linear-gradient(top, #F86218, #CB4909)!important;
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F86218', endColorstr='#CB4909', GradientType=0);
    
    border-color: #B94106!important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #FFFFFF!important;
    padding: 12px 25px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orange:hover {
    background: none repeat scroll 0 0 #EA5207!important;
    color: #FFFFFF;
    text-decoration: none;
}

.orange.disabled, orange.disabled:hover {
  background-image: none;
  box-shadow: none;
  cursor: default;
  opacity: 0.65;
}


.video-play {
    background:url(../images/play-overlay3.png) no-repeat transparent;
    cursor:pointer!important;
}


.col, .hero-unit {
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eeeeee));
    background: -moz-linear-gradient(top,  #f6f6f6,  #eeeeee); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#eeeeee');
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.3);
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    background-clip:padding-box; 
    margin-top:10px;
}

.col {
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ffffff));
    background: -moz-linear-gradient(top,  #f1f1f1,  #ffffff); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ffffff');    
}

.hero-unit {
    padding-bottom:20px;
    text-align:center;
}

.cols .col {
    height:440px;
}

.item {
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eeeeee));
    background: -moz-linear-gradient(top,  #f6f6f6,  #eeeeee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#eeeeee');
    border-radius:4px;
    border-bottom:1px solid #ccc;
    padding:10px;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}


.press, .available, .press-release-text {
    margin-top:30px!important;
}

.available .col{
    padding-bottom:10px;
}

.press-release-text {
    margin-left:0px!important;
}
.stores-table td {
    border-top:0px;
}


.input-xxlarge {
    width:510px;
}


.center {
    text-align:center;
}

.left {
    text-align:left;
}

.logo {
    margin-top:10px;
}
/*
.press [class*=span] {
    height:200px;
}
*/


a[rel=twipsy] {
    display:inline-block;
}


.store-item .row {
    margin-top:10px;
}

.store-item .span2 {
    margin-left:0px;
}

.store-item .span6 {
    padding-top:5px;
    margin-left:0px;

}

.store-item input {
    margin-top:5px;
}

.download-large {
    width:24px; height:24px;
    background:url(../images/glyphicons_181_download_alt.png) no-repeat transparent;
}

.download-button {
    font-weight:bold;
    font-size:16px;
    line-height:28px;
}



.pressrelease-nav {
  display: block;
  left: 0;
  margin: 0 10px 0 0;
  position: relative;
  float:right;
}
.navbar .pressrelease-nav.pull-right {
  margin-left: 10px;
  margin-right: 0;
}
.navbar .pressrelease-nav.pull-right {
  float: right;
}
.navbar .pressrelease-nav > li {
  display: block;
  float: left;
}

.navbar .pressrelease-nav > li > a {
  float: none;
  line-height: 19px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
