
body {
  background-color: #FFFFFF;
  background-image: url("../images/grid-18px-masked.png");
  background-repeat: repeat-x;
  position: relative;
}

.content {
    margin-top:80px;
}

@font-face {
    font-family: "Droid Sans";
    font-style: normal;
    font-weight: normal;
    src: local("Droid Sans"), local("DroidSans"), url("http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff") format("woff");
}

footer {
    font-family: 'Droid Sans';
    background:#252525;
    color:#eee;
    padding-top:20px;
}

footer #footer-floor {
  background: none repeat scroll 0 0 #1B1B1B;
  padding-top:10px;
}

footer h4 {
    color:#999;
    margin-bottom:10px;
}

footer a {
    color:#fff;
}

footer a:hover {
    color:#fff;
}

.press-release .dropdown-menu li>a:hover,
.press-release .dropdown-menu .active>a,
.press-release .dropdown-menu .active>a:hover{color:#fff;text-decoration:none;background-color:#F86218!important;}

.page-header {
    background-color: #F5F5F5;
    margin:80px 0px 20px 0;
    padding: 20px 20px 10px;
}

.orange {
    background-color: #E16020;
    background-image: -moz-linear-gradient(center top , #F86218, #F86218 25%, #CB4909)!important;
    border-color: #B94106!important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #FFFFFF;
    padding: 12px 25px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.orange:hover {
    background: none repeat scroll 0 0 #EA5207!important;
    color: #FFFFFF;
    text-decoration: none;
}



.video-play {
    background:url(../images/play-overlay3.png) no-repeat transparent;
    cursor:pointer!important;
}


.col, .hero-unit {
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eeeeee));
    background: -moz-linear-gradient(top,  #f6f6f6,  #eeeeee); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#eeeeee');
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.3);
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    background-clip:padding-box; 
    margin-top:10px;
}

.col {
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ffffff));
    background: -moz-linear-gradient(top,  #f1f1f1,  #ffffff); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ffffff');    
}

.hero-unit {
    padding-bottom:20px;
    text-align:center;
}

.cols .col {
    height:440px;
}

.item {
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eeeeee));
    background: -moz-linear-gradient(top,  #f6f6f6,  #eeeeee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#eeeeee');
    border-radius:4px;
    border-bottom:1px solid #ccc;
    padding:10px;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}


.press, .available, .press-release-text {
    margin-top:30px!important;
}

.available .col{
    padding-bottom:10px;
}

.press-release-text {
    margin-left:0px!important;
}
.stores-table td {
    border-top:0px;
}


.input-xxlarge {
    width:510px;
}

.center {
    text-align:center;
}

.left {
    text-align:left;
}

.logo {
    margin-top:10px;
}
/*
.press [class*=span] {
    height:200px;
}
*/


a[rel=twipsy] {
    display:inline-block;
}


.store-item .row {
    margin-top:10px;
}

.store-item .span2 {
    margin-left:0px;
}

.store-item .span6 {
    padding-top:5px;
    margin-left:0px;
}

.store-item input {
    margin-top:5px;
}