php_value upload_max_filesize 200M
php_value post_max_size 200M
php_value max_execution_time 200
php_value max_input_time 200

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond $1 !^(index\.php|uploads|css|images|scripts) 


#Rewrite all other URLs to index.php/URL
#RewriteRule .* index.php/$0 [PT]
#RewriteRule ^.*$ index.php [NC,L]
RewriteRule ^.*$ index.php [NC,L]
