

.orange, a {
    color:#ff7f00;
}

.bg-orange {
    background:#ff7f00;
    color:#fff;
    padding:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.appstore-market, .android-market {
    display:inline-block;
    width:128px;
    height:41px;
}

.appstore-market {
    background: url(../images/appstore-small.png) no-repeat transparent;
}

.android-market {
    background: url(../images/android-small.png) no-repeat transparent;
}

.invictus-appstore {
    background: url(../images/invictus-appstore.png) no-repeat transparent;
    display:inline-block;
    width:60px;
    height:60px;

}


/* payment */
    #payment-bg {
        background: url(../images/payment-bg-2.png) no-repeat transparent;
        width:320px;
        height:288px;
        //margin:0 auto;
    }
    
    #payment {
        width:320px;
        margin:0 auto;
    }
    
    #start-facebook-payment {
        position:relative;
        top:-140px;
        margin:0 auto;
    }
/* payment */

    .flag {
        background: url(../images/flags.png);
        background-attachment:scroll;
        background-repeat:no-repeat;
    }
