
.container {
    //border:1px solid #aaa;
    //border:1px solid rgba(0, 0, 0, 0.1);
    // *border:1px solid #aaa;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    margin-top:20px;
    margin-bottom:10px;
    padding-bottom:10px;
    
}
.content {
     min-height:850px;
     height:auto;
     background-repeat: no-repeat;
}

#image-slideshow, #vide-slideshow {
    //height:340px;
    width:340px;
    margin:0 auto;
    margin-top:10px;
}


.slides_container {
    width:340px;
    height:260px;
}
.slides_container div {
    width:340px;
    height:260px;
    display:block;
    text-align:center;
}      

.pagination-wrapper {
    margin-top:10px;
    text-align:right;
}

.slide-pagination {
	//margin:26px auto 0;
	//margin:0 auto;
	//margin-top:10px;
	//width:auto;
	display:inline-block;
	list-style-type:none;
	margin:0 auto;
	
}

.slide-pagination li {
	float:left;
	margin:0 1px;
}

.slide-pagination li a {
	display:block;
	width:10px;
	height:0px;
	padding:0px;
	padding-top:10px;
	//background-image:url('../images/pagination.png');
	border-radius: 6px;
	background:#333;
	background-position:0 0;
	float:left;
	overflow:hidden;
	border-right:0px;
	
}

.slide-pagination li a:hover {
    background-color:#0099cc;
}

.slide-pagination li.current a {
	//background-position:0 -12px;
	background:#0099cc;
}    

.star {
    display:inline-block;
    position:relative;
    top:2px;
}

.game-info, .reviews, .available-on {
    margin-top:10px;
    margin-bottom:10px;
    width:490px;
    border:1px solid #aaa;
    border:1px solid rgba(0, 0, 0, 0.1);
    *border:1px solid #aaa;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    background-clip:padding-box;
    margin:15px auto 0;    
}



.video-play {
    background:url(../images/play-overlay3.png) no-repeat transparent;
    cursor:pointer!important;
}

.col {
    margin-left:6px!important;
    background: #f5f5f5;
    border:1px solid #aaa;
    border:1px solid rgba(0, 0, 0, 0.1);
    *border:1px solid #aaa;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.3);
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    background-clip:padding-box; 
    padding:5px;
}

.three-col .col {
    height:400px;
}

.item {
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e1e1e1));
    background: -moz-linear-gradient(top,  #f6f6f6,  #e1e1e1);
    border-radius:4px;
    border-bottom:1px solid #ccc;
    padding:10px;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}